*{
  margin: 0;
}
.planTitle {
  border: 1px grey solid;
  border-radius: 10px;
  text-align: center;
  flex: 1 1 0;
}

.planName {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: rgb(230, 228, 228);
  font-size: 17px;
  font-weight: 500;
  padding: 8px;
}

.cost {
  margin: 8px;
  font-size: 22px;
  font-weight: 400;
}

.cost span {
  font-weight: 800;
}

.benefits {
  list-style: none;
  margin: 0px 0px auto 0px;
  padding: 0px 16px;
}

.benefit {
  margin-bottom: auto;
  font-size: 14px;
  padding: 4px 0px;
}

.button {
  margin: 16px;
  width: calc(100% - 32px);
  padding: 6px;
}
